menu "Dhyara ad hoc network"

    config DHYARA_RECEIVE_QUEUE_SIZE
        int "receive queue capacity"
        range 20 500
        default 256
        help
            Capacity of the queue for the received packets
            
    config DHYARA_SYNC_QUEUE_SIZE
        int "synchronization queue capacity"
        range 20 256
        default 64
        help
            Capacity of the synchronization queue
            
    config DHYARA_PEER_CHANNEL
        int "peer channel"
        range 1 12
        default 1
        help
            Dhyara peer channel
            
    config DHYARA_BROADCAST_CHANNEL
        int "broadcast channel"
        range 1 12
        default 1
        help
            Dhyara broadcast channel
            
    config DHYARA_BEACON_INTERVAL
        int "beacon interval (ms)"
        range 10 60000
        default 1000
        help
            Dhyara beacon interval
            
    config DHYARA_DELAY_TOLERANCE
        int "delay tolerance (us)"
        range 0 5000
        default 0
        help
            Dhyara delay tolerance
            
    config DHYARA_DEPRECIATION_COEFFICIENT
        int "depreciation coefficient"
        range 2 20
        default 2
        help
            while depretiating a route the current delay will be multiplied with this coefficient
            
    config DHYARA_ADVERTISEMENT_EXPIRY
        int "advertisement expiry (ms)"
        range 10 5000
        default 2000
        help
            Dhyara advertisement expiry
            
    config ROUTE_EXPIRY_COEFFICIENT
        int "route expiry coefficient"
        range 10 5000
        default 1000
        help
            Dhyara route expiry coefficient
            
    config DISABLE_SEND_QUEUEING
        bool "Disable queueing of messages that are to be sent"
        default n
        help
            Dhyara disable queueing of messages that are to be sent
            
    config ENABLE_MANDATORY_SLEEP_AFTER_TRANSMISSION
        bool "Enable Mandatory Sleep after consecutive transmitions"
        default y
        help
            Mandatory Sleep after N consecutive transmitions
            
    config ENABLE_MANDATORY_SLEEP_AFTER_TRANSMISSION_N
        int "Mandatory Sleep after N consecutive transmitions"
        range 1 100
        default 1
        help
            After the specified transmissions there will be a mandatory sleep
            
    config ENABLE_MANDATORY_SLEEP_AFTER_TRANSMISSION_TIME
        int "Amount of sleep (in ms) after consecutive transmitions"
        range 1 100
        default 1
        help
            Amount of sleep (ms) after consecutive transmitions
            
    config ENABLE_HTTP_MANAGEMENT_SERVER
        bool "If enabled then provides an web based management console over HTTP"
        default y
        help
            Dhyara enable web based management console over HTTP
            
    config DHYARA_UTIL_UDP_RELAY_BUFFER_SIZE
        int "UDP Relay Buffer Size"
        range 1024 8192
        default 4096
        help
            Buffer size to hold incoming UDP packets while using udp relay
endmenu
