:root {
    --darker: #b34766;
    --dark: #ff6680;
    --light: #ffb3c8;
    --lighter: #ffd9e4;
    --white: #f6f6f6;
    --transparent-white: rgba(255, 255, 255, 0.2);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    font-family: "Roboto",sans-serif;
    font-size: .9rem;
    font-weight: 400;
}

a {
  text-decoration: none;
}

.wrapper{
    width: 100%;
    height: 100%;
    display: block;
    position: relative;
    background: #f4f4f4;
}

.sidebar{
    width: 100%;
    background-color: #d4155b;
    color: var(--lighter);
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
}

.main{
    width: 100%;
    height: 100%;
    background: white;
}

.central{
    height: 100%;
    width: 774px;
    margin: 0px auto 0px 0px;
    border-right: 1px solid #ececec;
    background: #f4f4f4;
    overflow: auto;
}

@media all and (max-width: 1024px) {
    .central{
        width: 100%;
    }
}

@media all and (min-width: 480px) {
    .wrapper{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
    }

    .sidebar{
        width: 250px;
    }

    .main{
        flex-grow: 1;
    }
}

.logo{
    margin: 10px;
    padding: 10px;
    text-align: center;
    font-size: 2rem;
    font-variant-caps: small-caps;
    font-weight: bold;
}

.sidebar .contents{
    width: 100%;
    padding: 5px 10px 0px 10px;
    line-height: 1rem;
    font-size: 1rem;
}

.sidebar .contents li:first-child{
    border: 0px none;
}

.sidebar .contents li{
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 4px 0px 4px 4px;
    line-height: 1.5rem;
    cursor: pointer;

}

.sidebar .contents li .icon{
    width: 20px;
    margin-right: 10px;
}

.sidebar .contents li .label{
    width: 100%;
}

.banner{
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    background-image: linear-gradient(to right bottom, #fd0079, #fe3c88, #fd5796, #fc6da3, #fb81b0);
    color: white;
    box-shadow: 4px 5px #efefef;
    margin-top: 20px;
    margin-bottom: 20px;
}

.cluster{
    background-color: white;
    color: var(--dark);
    box-shadow: 4px 5px #efefef;
    margin-top: 10px;
    margin-bottom: 10px;
}

.cluster-full{
    background-color: white;
    color: var(--dark);
    box-shadow: 4px 5px #efefef;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 50px;
    margin-right: 50px;
    width: 100%;
}

.full-w{
    position: relative;
    display: block;
    text-align: center;
    float: left;
    width: 100%;
    padding: 5px 10px 5px 10px;
    overflow: hidden;
}

.full-flex-hz{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    padding: 5px 10px 5px 10px;
    overflow: hidden;
}

.board{
    display: inline-flex;
    flex-direction: column;
}

.board .heading{
    margin-top: 8px;
    text-transform: capitalize;
    text-align: left;
    padding: 0px 10px 4px 10px;
    border-bottom: 1px dashed #dfdfdf;
}

.board .groups{
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    flex-wrap: wrap;
}

.group{
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    padding: 10px 15px 10px 15px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    flex-grow: 1;
}

.cell{
    display: flex;
    flex-direction: column;
    text-align: left;
    font-size: 0.9rem;
    margin-bottom: 5px;
    margin-top: 5px;
}

.cell:first-child{
    margin-top: 0px;
}

.cell:last-child{
    margin-bottom: 0px;
}

.cell .key{
    text-transform: uppercase;
    font-size: 0.7rem;
    text-align: left;
}

.banner .cell .key{
    color: #ececec;
}

@media all and (min-width: 900px) {
    .group:first-child{
        -webkit-border-top-left-radius: 10px;
        -webkit-border-bottom-left-radius: 10px;
        -moz-border-radius-topleft: 10px;
        -moz-border-radius-bottomleft: 10px;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
    }

    .group:last-child{
        -webkit-border-top-right-radius: 10px;
        -webkit-border-bottom-right-radius: 10px;
        -moz-border-radius-topright: 10px;
        -moz-border-radius-bottomright: 10px;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        border-right: none;
    }
    
    .group{
        border-right: 1px dashed #fefefe;
    }
}

.board td, th{
    padding: 10px 5px 10px 5px;
    line-height: 1.2rem;
    text-align: center;
}

.board td{
    border-top: 1px solid #ececec;
}

