:root {
    --darker: #b34766;
    --dark: #ff6680;
    --light: #ffb3c8;
    --lighter: #ffd9e4;
    --white: #f6f6f6;
    --transparent-white: rgba(255, 255, 255, 0.2);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    background: #f4f4f4;
}

a {
  text-decoration: none;
}

.wrapper{
    width: 100%;
    min-height: 100%;
    display: block;
    position: relative;
}

.sidebar{
    width: 100%;
/*     min-height: 200px; */
    background-color: var(--dark);
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
}

.main{
    width: 100%;
/*     min-height: 400px; */
}

@media all and (min-width: 700px) {
    .wrapper{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
    }

    .sidebar{
        width: 200px;
    }

    .main{
        flex-grow: 1;
    }
}

.logo{
    background: hsla(0, 100%, 100%, 0.5);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    text-align: center;
    filter: invert(0.9);
}

.contents{
    width: 100%;
    padding: 5px 10px 0px 10px;
}

.contents li:first-child{
    border: 0px none;
}

.contents li{
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 4px 0px 4px 4px;
    border-top: 1px solid var(--light);
}

.contents li .icon{
    width: 20px;
}

.contents li .label{
    width: 100%;
}

.board{
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    width: 90%;
    margin: 10px auto 10px auto;
    padding: 10px 30px 10px 30px;
    background: white;
    box-shadow: 5px 10px #efefef;
}

.banner{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.group{
    display: flex;
    flex-direction: column;
}

.cell{
    
}
